<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
</head>

<body>
<header class="header">
    <div class="container">
        {% block header__inner %}<div class="header__inner">{% endblock %}
            <a href="#" class="logo">
                <img src="{% static 'images/logo.svg' %}" alt="logotype" class="logo__img">
            </a>
            <nav class="header__nav">
                <ul class="header__nav-list menu__list">
                    <li class="menu__list-item"><a class="menu__list-link" href="/register/">Sign Up</a></li>
                    <li class="menu__list-item"><a class="menu__list-link" href="#">Find Job</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>


{% block main %}
{% endblock %}
</body>

</html>