{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock %}
{% block header__inner %}
    <div class="header__inner header__login">
{% endblock %}

{% block main %}
  <main>
    <section class="form__section" style="background-image: url('{% static 'images/bg.jpg' %}');">
      
      <div class="container">
        
        <h1 class="title">
          <p class="fz-22">Find your</p>
          <span class="box">
            <span class="column-1">
              <p class="fz-52">QUARTZ</p>
              <span class="box">
                <img src="{% static 'images/star.svg' %}" alt="decorative icon">
                <img src="{% static 'images/star.svg' %}" alt="decorative icon">
              </span>
            </span>
            <span class="column-2">
              <p class="fz-22">worker!</p>
            </span>
          </span>  
        </h1>

        <form class="login__form input__form" method="post">
          {% csrf_token %}
          <div class="input">
            <label class="input__label" for="mail">Email adress</label>
            <input name="username" class="input__field" type="mail" placeholder="example@gmail.com">
          </div>
          <div class="input">
            <label class="input__label" for="mail">Password</label>
            <input name="password" class="input__field" type="password" placeholder="********">
          </div>
          <span class="btn-wrapper">
            <button class="btn fill-btn">
              Log In
            </button>
            <button class="btn empty-btn">
              Sign Up
            </button>
          </span>
        </form>
      </div>
    </section>
  </main>
{% endblock %}